:root {
  --text: #000000;
  --text-light: #ffffff;
  --background: #fafafa;
  --primary: #EACA98;
  --second: #754D27;
  --accent: #4C3830;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}